<br>
<form novalidate #form="ngForm">
    <div class="container" *ngIf="UserpreferencesDataInput !== null">
        <div class="alert alert-info in">
            <i class="fa fa-info-circle padding-right-5"></i>
            <span class="content-color"> This screen define the various elements of the user preferences.</span>
        </div>

        <div *ngFor="let formField of UserpreferencesDataInput.form.fields;let i = index">
            <div class="row" *ngIf="i % (UserpreferencesDataInput.form.fields.length) == 0">
                <div class="col-md-5" *ngFor="let formField of UserpreferencesDataInput.form.fields;">
                    <div *ngIf="formField.type === 'text'">
                        <label for="{{formField.field}">{{formField.field}}</label>
                        <font color="red" *ngIf="formField.required == true">*</font>
                        <font color="red" *ngIf="formField.required == 'conditional'">**</font>
                        <input type="{{formField.type}}" id="{{formField.field}}" name="{{formField.field}}" [(ngModel)]="formField.defaultvalue" class="form-control">
                        <small id="homePageHelp" class="form-text text-muted">{{formField.description}}</small>
                    </div>
                    <div *ngIf="formField.type === 'singleselect'">
                        <label for="{{formField.field}">{{formField.field}}</label>
                        <font color="red" *ngIf="formField.required == true">*</font>
                        <font color="red" *ngIf="formField.required == 'conditional'">**</font>
                        <kendo-dropdownlist class="form-control" name="{{formField.field}}" [data]="formField.ds?.valuepool" [filterable]="formField.filterable" textField="DisplayLabel" valueField="DisplayValue" [valuePrimitive]="true" [(ngModel)]="formField.defaultvalue" (filterChange)="handleFilter($event,formField)"
                            [disabled]="formField.isDisabled" style="border: none">
                        </kendo-dropdownlist>
                        <small id="homePageHelp" class="form-text text-muted">{{formField.description}}</small>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div>
            <button type="button" class="btn btn-primary" (click)="save()" style="cursor: pointer">
          Save
         </button>
            <button type="button" class="btn" (click)="reset()" style="cursor: pointer">
          Reset
         </button>
        </div>
    </div>
</form>