 /*styles for minimise maximise criteria section*/
 
 :host::ng-deep {
     .disable-Background {
         position: absolute;
         height: 150%;
         width: 100%;
         z-index: 999;
         opacity: 0.3;
         overflow: hidden;
         pointer-events: none;
         cursor: default;
     }
 }