<div style="padding: 2px 5px 1px 15px">
    <div class="ct-form" style="width:100%; padding-top:10px;">
        <form novalidate style="width:100%">
            <div class="d-flex flex-row flex-wrap" style="width:100%">
                <div style="width:100%">
                    <select class="form-control" style="width:100%">
                        <option value=""> Choose Period </option>
                        <option value="5"> 16-Jan-2018  to 31-Jan-2018 </option>
                        <option value="4"> 01-Jan-2018  to 15-Jan-2018 </option>
                        <option value="3"> 16-Dec-2017  to 31-Dec-2017 </option>
                        <option value="2"> 01-Dec-2017  to 15-Dec-2017 </option>
                        <option value="1"> 16-Nov-2017  to 30-Nov-2017 </option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <mat-form-field style="width:100%">
        <input matInput type="number" maxlength=2 placeholder="Industry Forums" [(ngModel)]="model.industry" value="0">
    </mat-form-field>
    <mat-form-field style="width:100%">
        <input matInput type="number" maxlength=2 placeholder="Reading / Hobbies " [(ngModel)]="model.reading" value="0">
    </mat-form-field>
    <mat-form-field style="width:100%">
        <input matInput type="number" maxlength=2 placeholder="Others" [(ngModel)]="model.others" value="0">
    </mat-form-field>
    <mat-form-field style="width:100%">
        <input matInput type="number" maxlength=2 placeholder="Friends and Family" [(ngModel)]="model.fnf" value="0">
    </mat-form-field>
    <mat-form-field style="width:100%">
        <input matInput type="number" maxlength=2 placeholder="Partners" [(ngModel)]="model.partners" value="0">
    </mat-form-field>
    <mat-form-field style="width:100%">
        <input matInput type="number" maxlength=2 placeholder="Teams" [(ngModel)]="model.directs" value="0">
    </mat-form-field>
    <mat-form-field style="width:100%">
        <input matInput type="number" maxlength=2 placeholder="Clients" [(ngModel)]="model.clients" value="0">
    </mat-form-field>
    <mat-form-field style="width:100%">
        <input matInput type="number" maxlength=2 placeholder="Fitness" [(ngModel)]="model.fitness" value="0">
    </mat-form-field>
    <mat-form-field style="width:100%">
        <input matInput type="number" maxlength=2 placeholder="CSR" [(ngModel)]="model.csr" value="0">
    </mat-form-field>
    <mat-form-field style="width:100%">
        <input matInput type="number" maxlength=2 placeholder="Other Teams" [(ngModel)]="model.oteams" value="0">
    </mat-form-field>
    <mat-form-field style="width:100%">
        <input matInput type="number" maxlength=2 placeholder="Skip(+1+2)" [(ngModel)]="model.skip" value="0">
    </mat-form-field>
    <mat-form-field style="width:100%">
        <input matInput type="number" maxlength=2 placeholder="BAU" [(ngModel)]="model.bau" value="0">
    </mat-form-field>

    <div class="comment-section">
        <div class="smiley-section" *ngFor="let entry of entries; let idx = index">
            <div class="{{entry.class}}">
                <input type="radio" name="radiogroup" (change)="onSelectionChange(entry)" [value]="entry.id" />
                <img src="{{entry.imageUrl}}" width="60" height="60" />
                <span>{{entry.title}}</span>
            </div>
        </div>
        <div class="textarea">
            <input type="textarea" class="form-control" placeholder="Enter comments">
        </div>
    </div>
    <div class="button-row">
        <button type="button" class="btn btn-primary" (click)="save()">  Save</button>
        <button type="button" class="btn">Cancel</button>
    </div>

</div>