.comment-section {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;

    .smiley-section {
        display: inline;

        div.image {
            display: inline-block;
            position: relative;

            input[type=radio] {
                opacity: 0;
            }

            input[type=radio] + img {
                padding-left: 10px;
                border: 1px solid #ccc;
                border-radius: 50%;
            }

        }

        span {
            display: block;
            text-align: center;
        }
    }

    .textarea {
        padding-top: 30px;
    }
}

.button-row {
    padding: 10px;
    text-align: center;
}
