.modal-dialog ul {
    margin: 0px;
    padding: 0px;
}

.modal-dialog .tab-pane ul li {
    display: inline-block;
    padding: 10px;
}

.modal-dialog .tab-pane ul li p {
    margin: 0px;
}

.modal-dialog .tab-pane ul li p:first-child {
    color: #044ebf;
    font-weight: 600;
}

.modal-dialog .tab-pane ul li h4 {
    color: #1c75ce;
    text-decoration: underline;
}

.modal-dialog ul {
    margin: 0px;
    padding: 0px;
}

.modal-dialog .tab-pane ul li {
    display: inline-block;
    padding: 10px;
}

.modal-dialog .tab-pane ul li p {
    margin: 0px;
}

.modal-dialog .tab-pane ul li p:first-child {
    color: deepskyblue;
    font-weight: 600;
}

.modal-dialog .tab-pane .view-det li p:last-child {
    font-size: 1.5rem;
}

.modal-dialog .tab-pane ul li p span:first-child {
    color: deepskyblue;
    font-weight: 600;
}

.view-det {
    background-color: #CCDDE7;
}

.special {
    color: #7d7979;
}

#largeShoes {
    background: rgba(0, 0, 0, 0.5%);
}

.full-size-modal {
    #largeShoes {
        .modal-dialog {
            margin: auto;
            max-width: 800px!important;
        }
    }
}

#fullModal {
    padding-left: 0 !important;
}