<div class="modal fade" [ngClass]="modalPosition.modalSize" id="{{modalPosition.modalId}}" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg full-height">
        <div class="modal-content full-height">
            <ng-content></ng-content>
        </div>
    </div>
</div>