<div class="ct-header ct-shadow">
    <div *ngIf="header?.custombar == true">
        <div class="logo-group">
            <a href="javascript:void(0);" class="ct-text-primary">
                <img class="skew" src="./assets/br-logo-new.png" alt="Broadridge Logo" title="Broadridge Logo" />
            </a>
        </div>
        <span class="triangle-bottomright"></span>
    </div>
    <div *ngIf="header?.custombar != true">
        <div>
            <img src="./assets/br-logo-new.png" />
        </div>
        <div class="ct-separator"></div>
    </div>
    <div class="ct-header-title" *ngIf="header?.projectName"><a (click)="gotoHome()">{{header.projectName}}</a></div>
    <div class="navrightmenu" style="display:block">
        <search-cmp *ngIf="header?.search == true"></search-cmp>
        <div class="nav-menu">
            <ul class="megamenu">
                <notificationbell-cmp *ngIf="header?.notifications == true"></notificationbell-cmp>
                <favorites-cmp *ngIf="header?.favorites == true" [favoritesInfo]="header.favoritesInfo"></favorites-cmp>
                <loaduservariants-cmp *ngIf="header?.variants == true" [variantsInfo]="header.variantsInfo"></loaduservariants-cmp>
                <megamenu-comp  *ngIf="header?.navigations == true" [headerInfo]="header.navigation" (handleclick)="handleUserUpdated($event)" ></megamenu-comp>
                <profile-cmp *ngIf="header?.profile == true" [profileInfo]="header.profileInfo"></profile-cmp>
            </ul>
        </div>
    </div>
</div>