<div class="card-footer-block">
    <div class="footer-title">
        <ng-content select="card-title"></ng-content>
    </div>
    <div class="footer-links">
        <ng-content select="card-actions"></ng-content>
    </div>
</div>
<ng-content></ng-content>