<ng-content select="card-sm-icon"></ng-content>
<div class="card-header-text">
    <ng-content select="card-title"></ng-content>
    <ng-content select="card-sub-title"></ng-content>
</div>
<ng-content></ng-content>