 $black-color :#000000;
 $card-max-width: 400px;
 $card-min-height: 130px;
 $font-size: 1rem;
 $line-height:1rem;
 
 .card-float-left {
     float: left;
 }

 .card-float-right {
     float: right;
 }

 .ct-card {
    max-width: 100%;
    height: $card-min-height; 
 }

 .card-header {
     background: none;
     border: none;
 }

 .card-lg-icon,
 .card-md-icon,
 .card-sm-icon {
     color: $black-color;
 }

 .card-sm-icon {
     height: 80px;
     width: 80px;
     @extend .card-float-left;
 }

 .card-md-icon {
     height: 112px;
     width: 112px;
     @extend .card-float-left;
 }

 .card-lg-icon {
     height: 152px;
     width: 152px;
     @extend .card-float-left;
 }

 .card-actions {
     width: 100%;
     @extend .card-float-left;
 }

 .card-header-text {
     float: left;
 }

 .card-footer-block {
     width: 100%;
     @extend .card-float-left;
 }

 .footer-title {
     @extend .card-float-left;
 }

 .footer-links {
     @extend .card-float-right
 }

 .card-header-text .card-title {
     font-size: $font-size+1;
     color: $black-color;
     @extend .card-float-left;
     width: 100%;
     margin-bottom: 0;
 }

 .card-header-text .card-sub-title {
     font-size: $font-size;
     color: $black-color;
     line-height: $line-height+2;
     @extend .card-float-left;
     width: 100%;
     margin-bottom: 0px;
 }


 .card-text {
     line-height: 25px;
     color: $black-color;
     @extend .card-float-left;
     width: 100%;
     padding: 5px 0;
 }

 .card-stutus {
     width: 100%;
     @extend .card-float-left;
     position: relative;
     top : 10px;
 }

 .mCSB_container {
         margin-right : 0 !important;
    }