<div id="favorites">
    <li class="ct-megamenu">
        <a data-toggle="dropdown" aria-expanded="false" class="ct-dropdown" (mouseenter)="loadFavorites()"><i class="fa fa-star-o"></i></a>
        <ul class="ct-megamenu-content">
            <span class="ct-headerMenu">
             <li class="ct-menu-section">
                    <ul>
                        <li class="ct-menu-header">
                           Favorites
                           <a href="javascript:void(0);" class="manageMenu text-primary">Manage</a>
                        </li>
                         <li class="ct-menu-items"  *ngFor="let favourite of allfavourites">
                           <a (click)="navigateFavourite(favourite.url)">{{favourite.name}}</a>
                         </li>
                         <li class="ct-menu-items" *ngIf="allfavourites?.length == 0">
                           <a> No favorites</a>
                         </li>
                     </ul>
              </li>
          </span>
        </ul>
    </li>
</div>