<div class="ct-form" style="width:100%; padding-top:10px;">
        <form novalidate style="width:100%">
            <div class="d-flex flex-row flex-wrap" style="width:100%">
                <div class="form-group" style="width:100%">
                    <select class="form-control" style="width:100%">
                        <option value=""> Choose Period </option>
                        <option value="4"> 01-Jan-2018  to 15-Jan-2018 </option>
                        <option value="3"> 16-Dec-2017  to 31-Dec-2017 </option>
                        <option value="2"> 01-Dec-2017  to 15-Dec-2017 </option>
                        <option value="1"> 16-Nov-2017  to 30-Nov-2017 </option>
                    </select>
                </div>
            </div>
        </form>
    </div>

<div>
    <contour-variablepiechart-cmp [options]="options" *ngIf="dataloaded"></contour-variablepiechart-cmp>
</div>