.example-card {
  width: 300px;
  height: 232px;

}
.button-row{
  padding: 0 10px;
}

.smiley-section{
display: inline;


.angry input[type=radio]:checked + img{
  box-shadow: 0px 1px 0px 3px red !important;
}


 div.image{
   display: inline-block;
   position: relative;
    padding: 10px;

input[type=radio] {
display: inline-block;
    width: 60px;
    height: 60px;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
}


img:hover{
  box-shadow: 0px 1px 0px 3px #ccc !important;
}
 
input[type=radio] + img{
        display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 10px 20px 5px 20px;
    position: absolute;
    left: -10px;
    top: 0px;
    z-index: -1;
}



input[type=radio]:hover{
  box-shadow: 0px 1px 0px 3px #ccc;
} 


input[type=radio]:checked + img{
  box-shadow: 0px 1px 0px 3px rgb(255, 193, 14);
}


img:hover{
  box-shadow: 0px 1px 0px 3px #ccc;
}

}
span{
  display: block;
  text-align: center;
}
}

.angry img:hover, .angry img:visited, .angry img:focus, .angry img:active{
box-shadow: 0px 1px 0px 3px #f2302c;
}

.textarea{
    padding: 25px 10px;
    display: inline-block;
    width: calc(100% - 20px);
}

.badge{
    background-color: #007bb6;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    display: inline-block !important;
    top: 5px;
    right: 7px;
    padding: 5px;
    font-size: 12px;
    min-width: 22px;
}
