<card-cmp [ngClass]="['card-width profilepanel-backcolor']">
    <div class="row items-center profilepanel">
        <div class="col-4 profile-icon">
            <card-icon>
                <img src="{{user?.image}}" class="img-fluid rounded-circle">
            </card-icon>
        </div>
        <div class="col-8 content-align">
            <div class="hugefont">
                <card-title>
                    {{user?.firstName}} {{user?.lastName}}
                </card-title>
            </div>
            <card-content>
                {{user?.designation}}
            </card-content>
        </div>
    </div>
</card-cmp>