.profilepanel {
    color: #FFFFFF;
    padding-left: 0;
    padding-right: 0;
    .content-align {
        padding-left: 2%;
    }
    .hugefont {
        .card-title {
            font-size: 32px;
            line-height: 36px;
        }
    }
    .card-text {
        color: #FFFFFF;
        font-size: 16px;
        margin-top: 0;
        line-height: 22px;
    }
    .card-icon {
        text-align: center;
        color: #FFFFFF;
    }
    .card {
        border: 0;
        color: #FFFFFF;
        border-radius: 2px;
    }
    .chevro-down-color {
        color: #00A3D6;
    }
}

.profilepanel-backcolor {
    background-color: #007DB5;
}

.items-center {
    align-items: center;
    height: 100%;
}