//@import "../header/header.component";
.ct-header-navbar ul.ct-megamenu-content {
    display: none;
}

.ct-header .ct-header-title {
    padding-left: 5px;
    font-size: 18px;
    height: 44px;
    padding-top: 8px;
}

.ct-header {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 44px;
}

.ct-megamenu-content {
    z-index: 1;
    right: 0px;
    margin: 0px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
    width: 215px;
    padding: 0;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.ct-megamenu {
    margin-top: 0px;
    width: 40px;
    height: 44px;
}

.ct-megamenu:hover {
    //background: rgb(0, 123, 182);
    padding-bottom: 3px;
}

.ct-megamenu:hover .ct-megamenu-content {
    max-height: 200px;
    opacity: 1;
    min-width: fit-content
}

.megamenu {
    display: inline-block;
    padding-left: 10px;
}

.ct-menu-show {
    position: relative;
}

.ct-menu-items a,
.ct-header-title a {
    color: #ffffff;
}

.nav-menu {
    float: right;
    right: 10px;
    color: #FFF;
    position: relative;
}

.logo-group {
    width: 175px;
    background-color: #007BB6;
    height: 44px;
    margin-left: -10px;
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 3px;
}

.logo-group>span {
    display: inline-block;
    height: 44px;
    margin-top: -8px;
}

.triangle-bottomright {
    border-right: 20px solid transparent;
    float: left;
    border-top: 44px solid #007BB6;
}


/*Dash board */

.navrightmenu {
    float: right;
}

#main #content .ct-shadow {
    min-width: 1550px;
}

.ct-shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    position: relative;
    min-width: 1550px;
}

.ct-dropdown {
    padding-top: 8px;
    padding-bottom: 8px;
}

.ct-dropdown i {
    padding-top: 10px;
}

.ct-menu-header {
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    margin: 5px;
}

.ct-menu-section {
    padding: 0;
    line-height: 18px;
    margin: 0;
}

//  header sass ends here
.profile-menu {
    display: inline-block;
    padding: 0;
    .navbar-profile {
        text-align: center;
        width: 35px;
        background-color: #7C7EC0;
        border-radius: 50%;
        color: #FFF;
        font-size: 20px;
        line-height: 34px;
        display: inline-block;
        font-style: normal;
        border: none;
        align-self: center;
    }
    .ct-dropdown {
        padding-left: 3px;
    }
    .ct-megamenu-content .ct-menu-section {
        margin-top: 10px;
    }
    .ct-megamenu-content {
        margin-top: 4px;
        width: 215px;
        padding: 0;
        transition: all 0.3s;
        max-height: 0;
        display: block;
        overflow: hidden;
        opacity: 0;
    }
    .ct-megamenu:hover {
        background: rgb(0, 123, 182);
    }
    .ct-megamenu:hover .ct-megamenu-content {
        max-height: 200px;
        opacity: 1;
        right: 0px;
    }
    .ct-menu-section {
        margin-top: 5px;
    }
    .ct-menu-section>ul {
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .ct-menu-header {
        margin: 10px;
    }
    .ct-menu-items:hover {
        background-color: #00578e;
    }
    .manageMenu {
        font-size: 11px !important;
        float: right;
        margin-right: 6px;
        color: #00a3d6 !important;
        margin-top: 10px;
    }
    .ct-menu-header a:hover {
        color: #FFF !important;
    }
    .ct-megamenu-content .ct-menu-section {
        padding-right: 0px;
        width: 215px;
    }
    .ct-menu-items {
        // font-size: 15px;
        padding: 7px 0 7px 20px;
    }
    .ct-dropdown {
        padding-top: 8px;
        padding-bottom: 9px;
        top: 0;
    }
    .ct-dropdown:hover {
        background-color: #007BB6;
        color: #fff !important;
    }
    .ct-dropdown i {
        padding: 0;
    }
    .ct-megamenu {
        // text-align: center;
        padding-top: 3px;
    }
}