<ul class="profile-menu">
    <li class="ct-megamenu">
        <a data-toggle="dropdown" aria-expanded="false" class="ct-dropdown">
            <i class="navbar-profile">{{profileName}}</i>
        </a>
        <ul class="ct-megamenu-content">
            <span class="ct-headerMenu">
            <li class="ct-menu-section" >
              <ul>
                  <li class="ct-menu-header">
                           Profile
                 </li>
                <li class="ct-menu-items" *ngFor="let menuItem of user?.menu">
                  <a [hidden]="menuItem.code == 'Signout'">{{menuItem.name}}</a>
                  <a [routerLink]="menuItem.url" *ngIf="menuItem.code == 'Signout'">{{menuItem.name}}</a>
                </li>
              </ul>
            </li>
        </span>
        </ul>
    </li>
</ul>