:host ::ng-deep {

    
    tileview-cmp,
    listview-cmp {
        report-cmp {
            dialog-cmp.loader-start {
                .modal-content {
                    background: #000;
                    opacity: 0.8;
                    height: 100%;
                    #spinner {
                        margin: auto;
                    }
                }
            }
            app-grid-cmp {
                dialog-cmp {
                    .modal-dialog.modal-lg {
                        height: 510px !important;
                        position: absolute;
                        left: calc(50% - 400px);
                        top: calc(50% - 255px);
                    }
                    .modal.fade.show,
                    .modal.fade.full-size-modal.show {
                        overflow-y: hidden !important;
                    }
                }
            }
        }
    }
}
