.ct-megamenu {
    margin-top: 0px;
   width : 40px;
   height: 44px;
}

.ct-dropdown {
    padding-top: 8px;
    padding-bottom: 8px;
}

.ct-dropdown i {
    padding-top: 10px;
}


.ct-megamenu svg {
    position: absolute;
    top: 18%;
}

.ct-menu-show .ct-dropdown {
    background: none;
}