<div>
    <li>
        <div class="ct-megamenu">
            <a data-toggle="dropdown" aria-expanded="false" class="ct-dropdown"><i class="fa fa-bell-o"></i></a>
            <ul class="ct-megamenu-content">
                <span class="ct-headerMenu"> 
          </span>
            </ul>
        </div>
    </li>
</div>