#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center; 
}


a.login-status{
position: absolute;
right: 10px
}


.mat-button-toggle-checked{
    background: #007bb6 !important;

}