<!--The content below is only a placeholder and can be replaced.-->
<!-- <header-cmp [header]="header"></header-cmp> -->
<div id="content" class="full-height">
    <contour-areachart-cmp [options]="options"></contour-areachart-cmp>
</div>