<h3> Team Perception</h3>
<div class="smiley-section" *ngFor="let entry of entries; let idx = index">
    <div class="{{entry.class}}">
        <input type="radio" name="radiogroup" />
        <img src="{{entry.imageUrl}}" width="60" height="60" alt="Picture of a happy monkey" />
        <span>{{entry.title}}</span>
        <span class="badge">{{entry.badge}}</span>
    </div>
</div>