<h3> Your Innervation</h3>

<div class="ct-form" style="width:100%">
    <form novalidate style="width:100%">
        <div class="d-flex flex-row flex-wrap" style="width:100%">
            <div class="form-group" style="width:100%">
                <select class="form-control" style="width:100%">
                    <option value=""> <b>Choose Category</b></option>
                        <option value="1"> BAU </option>
                        <option value="2"> Clients</option>
                        <option value="3"> CSR</option>
                        <option value="4"> Fitness</option>
                        <option value="5"> Friends</option>
                        <option value="6"> Industry Forums</option>
                        <option value="7"> Partners</option>
                        <option value="8"> Reading</option>
                        <option value="9"> Skip</option>
                        <option value="10"> Teams</option>
                        <option value="11"> Other Teams</option>
                        <option value="12"> Others</option>
                    </select>
            </div>
        </div>
    </form>
</div>

<div class="smiley-section" *ngFor="let entry of entries; let idx = index">
    <div class="{{entry.class}}">
        <input type="radio" name="radiogroup" (change)="onSelectionChange(entry)" [value]="entry.id" />
        <img src="{{entry.imageUrl}}" width="60" height="60" />
        <span>{{entry.title}}</span>
    </div>
</div>

<div class="textarea">
    <input type="textarea" class="form-control" placeholder="Enter comments">
</div>
<div class="button-row text-center">
    <button type="button" class="btn btn-primary">  Save</button>
    <button type="button" class="btn">Cancel</button>
</div>

<div style="padding:10px 0 0 0">
    <div class="comments">
        <div class="row cardheader">
            <div class="col">12/31/2017 12:30 AM</div>
            <div class="col"><img src="assets/img/happy.png" width="25" height="25" /></div>
            <div class="col"><span>CSR</span></div>
        </div>
        <div class="row">
            <div class="col">
                A small, agile dog that copes very well with mountainous terrain
            </div>
        </div>
    </div>
</div>