.login-wrapper {
    width: 100%;
    float: left;
    background-color: rgba(26, 131, 179, 0.97);
    height: 100%;
    margin: 0;
    padding: 0;
    background: #e9eaed url(../../assets/img/Login_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.container {
    position: absolute;
    width: 29.3em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    animation: intro .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.profile {
    position: relative;
}

.profile--open {
    width: 24.85em;
    height: 339px;
}

.profile--open .profile__form {
    visibility: visible;
    height: auto;
    opacity: 1;
    transform: translateY(0em);
    padding-top: 10em;
}

.profile--open .profile__fields {
    opacity: 1;
    visibility: visible;
}

.profile--open .profile__avatar {
    transform: translate(-70%, 2.5em);
    border-radius: 50%;
}

.profile__form {
    position: relative;
    background: white;
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 3em;
    border-radius: .25em;
    -webkit-filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.2));
    transition: opacity .4s ease-in-out, height .4s ease-in-out, transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.profile__avatar img {
    margin: 18px;
}

.profile__fields {
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.profile__avatar {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1.25em;
    overflow: hidden;
    width: 4.6em;
    height: 4.6em;
    display: block;
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    will-change: transform;
    background: #00a3d6;
}

.profile__avatar:focus {
    outline: 0;
}

.profile__footer {
    padding-top: 1em;
}

.field {
    position: relative;
    margin-bottom: 2em;
}

.label {
    position: absolute;
    height: 2rem;
    line-height: 2rem;
    bottom: 0;
    color: #999;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.input {
    width: 100%;
    font-size: 100%;
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px solid #d3d7da;
    color: #777;
    transition: all .2s ease-in;
}

.input:focus {
    outline: 0;
    border-color: #ccc;
}

.input:focus+.label,
input:valid+.label {
    transform: translateY(-80%);
    font-size: 0.85rem;
    color: #ccc;
}

@keyframes intro {
    from {
        opacity: 0;
        top: 0;
    }
    to {
        opacity: 1;
        top: 50%;
    }
}

.container p {
    color: #ffffff;
    text-align: center;
    padding: 8px 0px;
    font-weight: 100;
    font-size: 12px;
}

.btn-lg {
    width: 136px;
    height: 40px;
    cursor: pointer;
    -webkit-border-radius: 5px;
}

.forgot_pass {
    margin-left: 20px;
    font-size: 14px;
}

.error-div {
    height: 10px;
    margin-bottom: 72px;
}

.login-error {
    color: #FFFFFF;
    background-color: #ec5a4c;
    padding: 20px;
    width: 348px;
    position: relative;
    margin-bottom: 10px;
    top: 0;
    left: 0;
    border-radius: 6px;
    border: 1px solid #ec5a4c;
    font-size: 14px;
    animation: bounceInDown 5s ease-in;
}

.login-error .icon-size {
    font-size: 30px;
    vertical-align: middle;
}

.login-error .err-msg {
    font-size: 14px;
    padding-left: 10px;
}

.invalid-input {
    border-bottom: 1px solid #ec5a4c !important;
    color: #ec5a4c;
}


@media (min-width : 400px) and (max-width : 770px){

.container{
    left: 54%;
}

}