<div class="login-wrapper">
    <div class="container">
     
        <div class="profile--open">
            <div class="profile__avatar">
                <img src="./assets/br-login-logo.png" alt="Avatar" />
            </div>
            <div class="profile__form">
                <div>
                    <div class="profile__fields">
                        <div class="field">
                            <input type="text" id="fieldUser"  class="input" required  name="username" [(ngModel)]="model.username" />
                            <label for="fieldUser" class="label">Username</label>
                        </div>
                        <div class="field">
                            <input type="password" id="fieldPassword"  class="input" required  name="password" [(ngModel)]="model.password"  />
                            <label for="fieldPassword" class="label">Password</label>
                        </div>
                        <div class="profile__footer">
                            <button type="submit" (click)="login()" class="btn btn-lg">LOGIN</button>
                            <a class="forgot_pass"  [routerLink]="['/apppath']">Forgot Password</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p>Copyright @2017 Broadridge Financial Solutions, Inc.</p>
            </div>
        </div>
    </div>
</div>