<div class="page-footer">
    <div class="row text-right"></div>
    <div class="text-right hidden-xs">
        <div class="txt-color-white">
            The Broadridge Logo is a registered trademark of Broadridge of NorthAmerica, Inc.
            <a href="#" class="txt-color-white">Privacy Statement</a> | <a href="#" class="txt-color-white">
        Terms and Conditions</a>
        </div>
    </div>
</div>