<a class="list-group-item">
    <div class="row">
        <div class="col-1">
            <i class="{{notification.imageUrl}}"></i>
        </div>
        <div class="col">
            {{notification.title}}
            <br>
            <span class="text-muted small">
        {{notification.time}}
              </span>
        </div>
    </div>
</a>
<ng-content></ng-content>