.icon-white {
    color: white;
}

.icon-silver {
    color: silver;
}

.icon-green {
    color: #11aa62;
}

.icon-blue {
    color: #3498DB;
}

.fixed-panel{
    height: calc(100% - 50px);
    display: block;
}

.fixed-panel .list-group-item {
    border-radius: 0;
    background-color: #F2F1EF;
    font-size: 14px;
    line-height: 18px;
    color: #706f6e !important;
    .text-muted {
        font-size: 12px;
        color: #706f6e;
    }
}

.fixed-panel a.list-group-item:hover {
    text-decoration: none;
    background-color: #D7F2FE;
    cursor: pointer;
}

.list-group-item {
    border-bottom: 1px solid rgba(0,0,0,0.125);
}