$notification-bg-color:#fff;
.notification-panel-cmp,
.panel.panel-default {
    background-color: $notification-bg-color;
    /*height: 100%;
    display: block;
    padding: 10px;*/
    .panel-heading {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0.3em;
        color: #636c72;
        a {
            margin-top: 6px;
        }
        span {
            flex: 1;
            font-size: 20px;
            color: #706f6e;
        }
        .dropdown-menu>li>a:focus,
        .dropdown-menu>li>a:hover {
            text-decoration: none;
            background-color: #D7F2FE;
        }
        .dropdown-menu>li>a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.4;
            white-space: nowrap;
        }
    }
    .graphFooter {
        position: absolute;
        bottom: 0px;
        background: #fff;
        width: 100%;
        right: 0px;
    }
    .graphFooter li {
        width: calc(100% / 3);
        text-align: center;
    }
    .graphFooter li:before {
        content: "";
        width: 12px;
        height: 12px;
        background: rgb(0, 163, 214);
        border-radius: 50%;
        display: block;
        left: 46%;
        position: relative;
    }
    .graphFooter li:first-child:before {
        background: rgb(60, 181, 65);
    }
    .graphFooter li:last-child:before {
        background: rgb(235, 244, 247);
    }
    .graphFooter li span {
        display: block;
        width: 100%;
        font-size: 30px;
        font-weight: 600;
    }
    .panel-footer {
        background: #ffffff;
        box-sizing: border-box;
        border-radius: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        box-shadow: 0px -2px 1px #f7f5f5;
        -moz-box-shadow: 0px -2px 1px #f7f5f5;
        -webkit-box-shadow: 0px -2px 1px #f7f5f5;
        width: 100%;
        float: left;
        a {
            text-decoration: none;
            background-color: $notification-bg-color
        }
        ul {
            margin: 0px;
            padding: 0px;
            li {
                display: inline;
                float: left;
                padding: 6px 10px;
                border: none;
                background: none;
            }
        }
    }
    .panel-footer a:hover {
        cursor: pointer;
    }
    .panel-footer .btn {
        color: #636c72;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    .panel-footer .btn:hover {
        background-color: $notification-bg-color
    }
    .pad-left {
        padding-left: 5px;
    }
    .chevro-down-color {
        color: #00A3D6;
    }
}

.fixed-panel {
    //border: 0.5px solid rgba(0, 0, 0, 0.125);
    overflow-y: scroll;
    a {
        margin-top: 0;
    }
}

.notifications {
    flex: 1;
    overflow-y: auto;
}

// slim scroll 
.slim-scroll::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #fff;
}

.slim-scroll::-webkit-scrollbar {
    width: 4px;
    background-color: #fff;
}

.slim-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #d1d1d1;
}


/* End Notifications panel compnent styles*/