<div class="panel-body fixed-panel" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
    <div class="list-group">
        <notification *ngFor="let n of notifications" [notification]="n"></notification>
        <ng-content></ng-content>
    </div>
</div>