<div class="navrightmenu">
    <div class="nav-menu">
        <ul class="megamenu">
            <div>
                <li *ngFor="let navitem of headerInfo">
                    <div class="ct-megamenu" disableMenu>
                        <a data-toggle="dropdown" aria-expanded="false" class="ct-dropdown">
                            <i class="{{navitem?.icon}}"></i>
                        </a>
                        <ul class="ct-megamenu-content">
                            <span class="ct-headerMenu">
                            <li class="ct-menu-section" *ngFor="let menuItem of navitem?.menu">
                            <ul>
                                <li class="ct-menu-header">{{menuItem?.code}}</li>
                                <li class="ct-menu-items" *ngFor="let subItem of menuItem.items">
                                    <a [hidden]="subItem.code == 'Signout'" (click)="onMenuChildClick(subItem)" data-toggle="modal" [attr.data-target]="'#' + subItem?.Id" >{{subItem.code}}</a>
                                    <a (click)="signOut()" *ngIf="subItem.code == 'Signout'" href="{{subItem.path}}">{{subItem.code}}</a>
                                </li>
                            </ul>
                            </li>
                            </span>    
                             <div class="versioning"><span>{{navitem?.version}}</span></div>                          
                        </ul>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</div>
