.ct-header-navbar ul.ct-megamenu-content {
    display: none;
}

.ct-header .ct-header-title {
    padding-left: 5px;
    font-size: 18px;
    height: 44px;
    padding-top: 8px;
}

.ct-header {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 44px;
}

.ct-headerMenu {
    display: inline-flex !important;
}

.ct-megamenu-content {
    z-index: 1;
    right: 0px;
    margin: 0px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
    // width: 215px;
    padding: 0;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.ct-megamenu {
    margin-top: 0px;
    width: 40px;
    height: 44px;
}

.ct-megamenu:hover {
    //background: rgb(0, 123, 182);
    padding-bottom: 3px;
}

.ct-megamenu:hover .ct-megamenu-content {
    max-height: 200px;
    opacity: 1;
    min-width: fit-content;
    display: table
}

::ng-deep .ct-megamenu:hover .ct-megamenu-content {
    margin: 5px 0 0 0 !important;
}

::ng-deep .ct-dropdown {
    padding: 8px 10px !important;
}

::ng-deep.megamenu {
    padding-left: 6px !important;
}

.megamenu {
    display: inline-block;
    padding-left: 10px;
}

.ct-menu-show {
    position: relative;
}

.ct-menu-items a,
.ct-header-title a {
    color: #ffffff;
}

.nav-menu {
    float: right;
    right: 10px;
    color: #FFF;
    position: relative;
}

.logo-group {
    width: 175px;
    background-color: #007BB6;
    height: 44px;
    margin-left: -10px;
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 3px;
}

.logo-group>span {
    display: inline-block;
    height: 44px;
    margin-top: -8px;
}

.triangle-bottomright {
    border-right: 20px solid transparent;
    float: left;
    border-top: 44px solid #007BB6;
}


/*Dash board */

.navrightmenu {
    float: right;
}

#main #content .ct-shadow {
    min-width: 1550px;
}

.ct-shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    position: relative;
    min-width: 1550px;
}

.ct-dropdown {
    padding-top: 8px;
    padding-bottom: 8px;
}

.ct-dropdown i {
    padding-top: 10px;
}

.ct-menu-header {
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    margin: 5px;
}

.ct-menu-section {
    padding: 0;
    line-height: 18px;
    margin: 0;
}


/* new css */

//own styles
.ct-header-navbar ul.ct-megamenu-content {
    display: none;
}

.ct-header .ct-header-title {
    padding-left: 5px;
    font-size: 18px;
    height: 44px;
    padding-top: 8px;
}

.ct-header {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 44px;
}

.ct-megamenu-content {
    z-index: 1;
    right: 0px;
    margin: 0px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
    // min-width: 600px;
    padding: 0;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.ct-megamenu {
    margin-top: 0px !important;
    width: 40px;
    height: 44px;
}

.ct-megamenu:hover {
    //background: rgb(0, 123, 182);
    padding-bottom: 3px;
}

.ct-megamenu:hover .ct-megamenu-content {
    max-height: 600px;
    opacity: 1;
}

.megamenu {
    display: inline-block;
    padding-left: 10px;
}

.ct-menu-show {
    position: relative;
}

.ct-menu-items a,
.ct-header-title a {
    color: #ffffff;
}

.nav-menu {
    float: right;
    right: 10px;
    color: #FFF;
    position: relative;
}

.logo-group {
    width: 175px;
    background-color: #007BB6;
    height: 44px;
    margin-left: -10px;
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 3px;
}

.logo-group>span {
    display: inline-block;
    height: 44px;
    margin-top: -8px;
}

.triangle-bottomright {
    border-right: 20px solid transparent;
    float: left;
    border-top: 44px solid #007BB6;
}


/*Dash board */

.ct-menu-header {
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    margin: 5px;
}

.ct-menu-section {
    padding: 0;
    line-height: 18px;
    margin: 0;
    margin-top: 5px;
}

//  header sass ends here
.ct-megamenu-content {
    margin-top: 5px;
    // width: 215px;
    padding: 0;
    position: absolute;
    right: 0;
    // min-width:fit-content fit-content
}

.ct-megamenu-content .ct-menu-section {
    width: 215px;
}

.ct-menu-section>ul {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
}

.ct-menu-header {
    margin: 10px;
}

.ct-menu-items:hover {
    background-color: #00578e;
}

.ct-menu-header a:hover {
    color: #FFF !important;
}

.ct-megamenu-content .ct-menu-section {
    padding-right: 0px;
    width: 215px;
}

.ct-menu-items {
    // font-size: 15px;
    padding: 7px 0 7px 20px;
}

.ct-dropdown {
    padding: 10px 10px;
}

.versioning {
    float: right;
    color: #ccc;
    padding-bottom: 10px;
    font-size: 14px;
    clear: both;
    padding: 0 20px 10px 0;
}