<div id="variants">
    <li>
        <div class="ct-megamenu">
            <a data-toggle="dropdown" aria-expanded="false" class="ct-dropdown" onclick="onMenuClick()" (click)="loadUserVariants()"><i class="fa fa-bookmark-o"></i></a>
            <ul class="ct-megamenu-content">
                <span class="ct-headerMenu">
                    <li class="ct-menu-section">
                    <ul>
                        <li class="ct-menu-header">
                           Custom Screens
                        </li>
                         <li class="ct-menu-items"  *ngFor="let variant of userVariants">
                           <a (click)="navigateVariants(variant.url,variant.name)">{{variant.name}}</a>                           
                         </li>
                     </ul>
              </li>
          </span>
            </ul>
        </div>
    </li>

</div>