<!--<div class="search-tempalte">
  <form action="">
    <input id="searchicon" autocomplete="off" class="searchReports" (blur)="onBlur($event)" (keyup)="onKeyUp($event)" [(ngModel)]="searchText" (keyup.enter)="onKeyEnter($event)"
      name="search" type="search" placeholder="Search OCD reports...">
    <input id="search_submit" value="Rechercher" type="submit">
  </form>
  <div *ngIf="showResult == true" class="show-box" tabindex="-1">
    <div class="autocomplete dropdown-header " *ngIf="reportsInfoFilter"> 
      <section *ngFor="let report of reportsInfoFilter | groupBy: 'company'" class="search-box">
        <h6 class="">{{report.key}}({{report.value.length}})</h6>
        <ul class="searchresults-list">
          <li *ngFor="let item of report.value" (click)="getReport(item)" class="">
            <a> {{item.reportName}}</a>-->
            <!--<a (click)="getReport(item)"> {{item.reportName}}</a>-->
          <!--</li>
        </ul>
      </section>
    </div>
  </div>
  <div *ngIf="noResultFound == true" class="show-box" tabindex="-1">
    <div class="autocomplete dropdown-header ">
      <section class="search-box">
        <h6 class="">No reports are available ...</h6>
      </section>
    </div>
  </div>
</div>  -->
<div class="search-tempalte">
<form action="">
    <input class="searchReports" name="search" type="search" placeholder="Search OCD reports...">
    <input value="Rechercher" type="submit">
  </form>
</div>
<!--<div class="searchModel">
  <report-cmp [modelData]="modelData"></report-cmp>
</div>-->