.search-tempalte {
    display: inline-block;
    position: relative;
    height: 40px;
    padding: 0;
    position: relative;
    margin-top: 4px;
    z-index: 3;
    right: 10px;
    input[type="search"] {
        min-width: 300px;
        height: 36px;
        font-size: 14px;
        display: inline-block;
        border: none;
        border-radius: 4px;
        outline: none;
        color: #FFF;
        padding: 0 18px;
        padding-right: 36px;
        width: 0px; // position: absolute;
        top: 0;
        right: 0;
        background-color: #3FB9DE;
        z-index: 3;
        transition: width .2s cubic-bezier(0.000, 0.795, 0.000, 1.000);
        cursor: pointer;
    }
    input[type="search"]:hover {
        background: #00578E;
    }
  
  input[type="search"]:focus {
        width: 464px;
        right: 36px;
        position: absolute;
        z-index: 1;
        border-radius: 0;
        cursor: text;
        color: #000;
        background-color: #FFF;
    }
    input[type="submit"] {
        height: 36px;
        width: 36px;
        float: right;
        background: #3FB9DE center center no-repeat; // url('../../../../assets/img/bees/magnifying-glass.png') 
        border-radius: 0 4px 4px 0;
        text-indent: -10000px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        opacity: 0.8;
        cursor: pointer;
        transition: opacity .4s ease;
    }
     ::-webkit-input-placeholder {
        /* Chrome */
        color: #FFF;
    }
    input[type="submit"]:hover {
        opacity: 0.8;
    }
    .show-box {
        box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
        border-top: 1px solid #f4f4f4;
        width: 464px;
        position: absolute;
        background: #FFF;
        right: 36px;
        top: 36px;
    }
    .autocomplete.dropdown-header {
        width: 464px;
    }
    .search-box {
        width: 425px;
    }
    .search-box h6 {
        font-style: italic;
    }
    .searchresults-list {
        padding-left: 10px;
    }
    .searchresults-list li>a:focus,
    .searchresults-list li>a:hover {
        text-decoration: none;
        background-color: #D7F2FE;
        cursor: pointer;
    }
    .searchresults-list>li>a {
        display: block;
        padding: 5px 5px;
        clear: both;
        font-weight: 400;
        line-height: 1.4;
        white-space: nowrap;
    }
}