// global styles for  angular library, these styles will move into contour //
$information-phone: "only screen and (max-height : 768px)";
html,
body {
    font-size: 14px;
    height: 100%;
}


.ct-megamenu:hover .ct-megamenu-content{
    max-height: 300px !important;
}

h3{
      text-align: center;
    padding-bottom: 10px;
}
#main {
     background: url('assets/img/Running-man-colour1.svg');
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position-x: center;
    background-position-y: 60px;
    z-index: 1;
    margin-left: 0px;
    padding-bottom: 0px;
    height: 100%;
    overflow-y: hidden;
    position: absolute;
    width: 100%;
}

.loading {
    min-height: 100%;
    background: #00a3d6;
    [data-loader='spinner'] {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}

.full-height {
    height: 100%;
}

/// cli changes

.cardsection .col:last-child{
    padding-right: 0px !important;
}

.cardsection .col{
    padding : 0 10px 0 0 !important;
}

.cardsection .card-width{
    margin : 10px 0
}

.profile__fields .field label{
left: 0
}

#reports .margin-reportcards{
flex : none !important;
}

.reports-section .mr-auto.p-2 {
    float: left;
    width: 70%;
}

tileview-cmp card-cmp .table th, tileview-cmp card-cmp .table td, tileview-cmp card-cmp .table thead th{
    border: none !important;
    padding : 0 5px !important;
    height: 30px;
    vertical-align: middle;
}

.p-2.separator.tiles.dropdown.padding {
    padding: 4px 10px !important;
}


.cardsection .reports-section .report-header .right-border{
right : 10px !important;
}

.full-height {
    height: 100%;
    width: 100%;
    position: absolute;
}

.list-view tbody.ct-table-body.scrollit{
overflow: hidden !important;
}

.ct-shadow{
    min-width: 100% !important
}


.list-view thead.ct-table-header, .list-view tbody.ct-table-body.scrollit{
    padding: 0 10px 10px 10px;
}

.modal-header .row.modal-logo, .modal-header .row.modal-logo button.close{
    margin-top: 0px !important;
}


.list-view thead td.pad-left, .list-view .ct-table-body.scrollit td{
    vertical-align: middle
}

.p-2 {
     padding: 0 10px !important;
}

.row.report-margin .col-12{
    padding: 0 !important 
}

.row.report-margin .margin-reportcards .card-width{
    margin: 0 !important
}

.search-tempalte input[type="submit"]{
        background: #3FB9DE url(../node_modules/@contour/standards/dist/images/magnifying-glass.png) center center no-repeat !important;
    }

     .search-tempalte input[type="text"]:focus+input[type="submit"], .search-tempalte input[type="text"]:hover+input[type="submit"], .search-tempalte input[type="text"]:active+input[type="submit"], .search-tempalte input[type="text"]:visited+input[type="submit"] {
        background: #00578E url(../node_modules/@contour/standards/dist/images/magnifying-glass.png) center center no-repeat !important;
    }


     .huge .card-text > .row{
    display: inline-block !important;
    }

   .timer-card .minutes-text{
       position: absolute !important;
       max-width: 80% !important
   }


.modal-open .modal{
    overflow-y: hidden !important;
}


@media  screen and (max-height: 766px){
    #main {
        overflow-y: scroll;
    }

    /*.report-view{
        height: 100% !important;
    }*/

}