<div br-tooltip="" data-original-title="" class="formContent">
    <span id="search" class="text form-summary" style="cursor: pointer" *ngIf="formDataInput?.showSummary===true">
        <span class="text" id="searchtext">
                <span id="searchfield" *ngFor="let formField of formDataInput?.form?.fields">
                  
                     <span id="searchvalue"  *ngIf="formField.defaultvalue !== '' && formField.isShowhide === false  && formField.type !== 'singleselect' && formField.type !== 'checkbox'">{{formField.label}} : {{formField.defaultvalue}}  | </span>
    <span id="searchvalue" *ngIf="formField.defaultvalue !== '' && formField.isShowhide === false  && formField.type === 'checkbox'">{{formField.label}} : <span style="text-transform: capitalize">{{formField.defaultvalue}}</span> </span>
    <span id="searchvalue" *ngIf="formField.defaultvalue !== '' && formField.isShowhide === false && formField.type === 'singleselect'"> {{formField.label}} :
                        <span *ngIf="formField.defaultvalue !== ''">{{formField.DisplayText}}  | </span>
    </span>
    </span>
    </span>
    <div class="btn-header pull-right icon">
        <span>
             <a class="toggleClass">
                                        <i class="fa fa-angle-double-up fa-icon-size hideform" id="minimise"></i>
                                        <i class="fa fa-angle-double-down fa-icon-size " id="maximise"></i> 
            </a>
        </span>
    </div>
    </span>
    <div class="ct-form">
        <form novalidate #form="ngForm" (ngSubmit)="submitForm(form)">
            <div class="d-flex flex-row flex-wrap">
                <div *ngFor="let formField of formDataInput?.form?.fields;let i = index" style="padding:0.3rem">
                    <div *ngIf="formField.type === 'text'">
                        <label for="{{formField.field}}">{{formField.label}}</label>
                        <font color="red" *ngIf="formField.required == true">*</font>
                        <font color="red" *ngIf="formField.required == 'conditional'">**</font>
                        <input type="{{formField.type}}" id="{{formField.field}}" name="{{formField.field}}" [(ngModel)]="formField.defaultvalue" class="form-control" required="{{formField.required}}" disabled="{{formField.isDisabled}}" (keypress)="applyRegExPattern($event,formField)"
                            maxlength="{{formField.maxLength}}">
                    </div>
                    <div *ngIf="formField.type === 'singleselect'">
                        <label for="{{formField.field}}">{{formField.label}}</label>
                        <font color="red" *ngIf="formField.required == true">*</font>
                        <font color="red" *ngIf="formField.required == 'conditional'">**</font>
                        <kendo-dropdownlist class="form-control" name="{{formField.field}}" [data]="formField.ds?.valuepool" [filterable]="formField.filterable" textField="DisplayLabel" valueField="DisplayValue" [valuePrimitive]="true" [(ngModel)]="formField.defaultvalue" (filterChange)="handleFilter($event,formField)"
                            [disabled]="formField.isDisabled">
                        </kendo-dropdownlist>

                    </div>
                    <div *ngIf="formField.type === 'multiselect'">
                        <label for="{{formField.field}}">{{formField.label}}</label>
                        <font color="red" *ngIf="formField.required == true">*</font>
                        <font color="red" *ngIf="formField.required == 'conditional'">**</font>
                        <angular2-multiselect name="multi" [data]="formField.ds?.valuepool" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                    </div>

                    <div *ngIf="formField.type === 'singledatepicker'">
                        <label for="{{formField.field}}">{{formField.label}}</label>
                        <div class="input-group" daterangepicker [options]="singlePicker" (selected)="singleSelect($event,formField)">
                            <input type="text" class="form-control" name="{{formField.field}}" [(ngModel)]="formField.defaultvalue" disabled="{{formField.isDisabled}}" (focusout)="focusOutFunction(formField)" />
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div *ngIf="formField.type === 'daterangepicker'">
                        <label for="{{formField.field}}">{{formField.label}}</label>
                        <div class="input-group" daterangepicker [options]="daterangepickerOptions" (selected)="selectedDate($event, formField)">
                            <input type="text" class="form-control" name="{{formField.field}}" [(ngModel)]="formField.defaultvalue" disabled="{{formField.isDisabled}}" />
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>

                    <div *ngIf="formField.type === 'checkbox'">
                        <label for="{{formField.field}}">{{formField.label}}</label>
                        <font color="red" *ngIf="formField.required == true">*</font>
                        <font color="red" *ngIf="formField.required == 'conditional'">**</font>
                        <div class="form-check">
                            <label class="ct-checkbox">
                            <input type='checkbox' name="{{formField.field}}" [(ngModel)]="formField.defaultvalue" id="{{formField.field}}" #{{formField.label}}="ngModel"  (change)="onChange(formField)">
                            <span></span>
                          </label>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="d-flex flex-row flex-wrap">
                <div class="form-group" style="width:100%">
                    <span *ngFor="let item of formDataInput?.form?.formActions">
                    <span *ngIf="item.action=='search'">
                        <button  [ngClass]="item.class" id="maximise">
                                {{item.label}}
                            </button>
                    </span> &nbsp;
                    <span *ngIf="item.label=='Reset'">
                            <button type="{{item.type}}" (click)="reset(form.value)" [ngClass]="item.class" >
                                    {{item.label}}
                                </button>
                        </span>
                    <span *ngIf="item.type=='link'">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#variantForm"
                            (click)="openUservariants()">{{item.label}}</a>
                    </span>

                    <span [ngClass]="item.class" *ngIf="item.type=='separator'">
                                    &nbsp;&nbsp;<span>|</span>&nbsp;&nbsp;
                    </span>
                    <span [ngClass]="item.class" *ngIf="item.type=='label'">
                                    <span>
                                        <label  style="color:#666"> {{item.label}}
                                        <font color="red" *ngIf="item.mandatory==true">*</font>
                                        <font color="red" *ngIf="item.mandatory=='conditional'">**</font>
                                        <font color="#00a3d6" *ngIf="item.additional==true">^</font>
                                        </label>
                                    </span>
                    </span>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- <div class="modal fade" id="variantForm" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <saveuservariants-cmp [uservariantsDataInput]="uservariantsInputData" *ngIf="openuservariants"></saveuservariants-cmp>
</div> -->