 /*styles for minimise maximise criteria section*/
 
 .form-summary {
     display: inline-block;
     width: 100%;
     white-space: nowrap;
     overflow: hidden !important;
     text-overflow: ellipsis;
     padding-top: 0px;
     padding-left: 20px;
     font-size: 21px;
     padding-right: 15px;
 }
 
 #search {
     min-height: 40px;
     background: #007BB6;
     .text {
         color: #ffffff;
         font-size: 14px;
         font-weight: lighter;
         padding-right: 30px;
     }
 }
 
 :host::ng-deep {
     .k-dropdown .k-dropdown-wrap {
         background: #fff !important;
         background-image: none !important;
         box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
         border: 1px solid #bdbdbd;
     }
     .k-dropdown .k-dropdown-wrap:hover {
         border-color: #80bdff;
     }
     .form-control:focus {
         box-shadow: none !important;
     }
     .input-group,
     .k-dropdown-wrap,
     .form-control {
         width: 250px !important;
         height: 32px !important;
         display: flex;
     }
     .ct-form,
     #divContent {
         padding: 10px
     }
     .ct-form {
         border-bottom: 0.5px solid #007BB6
     }
     .selected-list {
         width: 300px !important;
         .c-btn {
             box-shadow: none !important;
             padding: .4rem .45rem !important;
             height: 33px !important;
         }
         .c-btn:hover,
         .c-btn:visited,
         .c-btn:focus,
         .c-btn:active {
             border-color: #5D98CC;
         }
     }
     .dropdown-list {
         width: 300px !important;
     }
 }
 
 .formContent,
 #divContent {
     margin: 0 5px
 }
 
 .hideform {
     display: none;
 }