<div class="ontrack-card">
    <card-cmp [style.background-color]="cardObj.backgroundcolor" [ngClass]="['card-width']">
        <div class="row items-center">
            <div class="col-4 custom-card">
                <card-icon>
                    <img src="{{cardObj.image}}" class="img-fluid" alt="Responsive image">
                </card-icon>
            </div>
            <div class="col-8 content-align">
                <div>
                    <card-title>
                        {{cardObj.title}}
                    </card-title>
                </div>
                <div class="huge">
                    <card-content>
                        <span>{{cardObj.content}}</span>
                    </card-content>
                </div>
            </div>
        </div>
    </card-cmp>
</div>