.ontrack-card {
    .card-width {
        min-width: 300px;
        border-radius: 2px;
        height: 130px;
    }
    .items-center {
        align-items: center;
        height: 100%;
    }
    .custom-card {
        border: 0;
        color: #FFFFFF;
        text-align: center;
    }
    .content-align {
        padding-left: 2%;
    }
    .card {
        border: 0;
        color: #FFFFFF; //box-shadow: 0 0px 3px rgba(40, 47, 47, .3);
    }
    .card-text {
        font-size: 40px;
        color: #ffffff;
        float: left;
        width: 100%;
    }
}