<div class="timer-card">
    <card-cmp [style.background-color]="cardObj.backgroundcolor" [ngClass]="['card-width']">
        <div class="row items-center">
            <div class="col-4 custom-card">
                <card-icon>
                    <img src="{{cardObj.image}}" class="img-fluid" alt="Responsive image">
                </card-icon>
            </div>
            <div class="col-8 content-align">
                <div>
                    <card-title>
                        {{myDate | date : "EEEE, MMMM d" }}
                    </card-title>
                </div>
                <div class="huge">
                    <card-content>
                        <div class="row">
                            <div class="col-8 time-text">
                                {{CurrentTime}}
                            </div>
                            <div class="col-3 minutes-text">
                                <div class="super-text"> {{CurrentTimeAMPM | uppercase}} </div>
                                <div class="time-zone">
                                    <h3 class="sub-text"> <a class="dropdown timezone-drop"><span>{{defaultTimeZone}}</span>
                            <i class="fa fa-chevron-down fa-1x chevro-down-color" aria-hidden="true" data-toggle="dropdown"></i>
                             <!--<span class="arrow" aria-hidden="true" data-toggle="dropdown"></span>-->
                             <ul class="dropdown-menu dropdown-menu-right">
                                <li  *ngFor="let item of timeZones" (click)='timeZoneChange(item)'>
                                    <a>{{item}}</a>
                                        </li>
                                        </ul>
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>



                    </card-content>
                </div>
            </div>
        </div>
    </card-cmp>
</div>