/*Dash board */

.time-zone:after,
.time-zone:hover {
    color: #fff;
}

.timer-card {
    .card-width {
        min-width: 300px;
        border-radius: 2px;
        height: 130px;
    }
    .custom-card {
        border: 0;
        color: #FFFFFF;
        text-align: center;
    }
    .padding-card {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
    .margin-card {
        margin-bottom: 0.50rem;
    }
    .card {
        border: 0;
        color: #FFFFFF; //  box-shadow: 1px 1px 3px rgba(40, 47, 47, .3);
    }
    .time-text {
        font-size: 60px;
        color: #ffffff;
        display: table-cell;
        padding: 0px;
        margin-right: 0px;
        padding-top: 10px;
        flex: 0 0 0;
    }
    
    .super-text {
        font-size: 32px;
        color: #FFF;
    }
    div h3.sub-text a:hover {
        color: #FFF; //color: #636c72;
    }
    .sub-text {
        font-size: 12px;
        color: #0095c9;
        font-weight: bold;
        bottom: 0;
    }
    .items-center {
        align-items: center;
        padding: 10px 0;
    }
    .minutes-text {
        padding-right: 5px;
        padding: 0;
        position: relative;
    }
    .timezone-drop {
        font-size: 12px;
        color: #0095c9;
        font-weight: bold;
    }
    .time-zone {
        position: relative;
        display: block;
        text-align: right;
        cursor: pointer;
        top: 4px;
    }
    .timezone-drop ul {
        min-width: 65px;
        font-weight: normal;
        color: #636c72;
        /*right: -10px;*/
    }
    .content-align {
        padding-left: 0;
    }
    .dropdown-menu>li>a:focus,
    .dropdown-menu>li>a:hover {
        text-decoration: none;
        background-color: #D7F2FE;
        cursor: pointer;
        color: #636c72 !important;
    }
    .dropdown-menu>li>a {
        color: #636c72;
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.4;
        white-space: nowrap;
    }
    .minutes-text span.arrow {
        /*height: 22px;
        left: 15px;
        display: inline-block;
        position: relative;*/
        top: 4px;
    }
    .minutes-text span.arrow:before {
        content: "";
        width: 8px;
        height: 2px;
        background: #0095c9;
        position: absolute;
        transform: rotate(45deg);
        top: 6px;
        left: 17px;
    }
    .minutes-text span.arrow:after {
        content: "";
        width: 8px;
        height: 2px;
        background: #0095c9;
        position: absolute;
        transform: rotate(-45deg);
        top: 6px;
        left: 22px;
    }
    .minutes-text span.arrow:hover:after {
        background: #FFF;
    }
    .minutes-text span.arrow:hover:before {
        background: #FFF;
    }
}